html,
body {
    padding: 0px;
    margin: 0px;
}

main {
    margin: 5px;
    padding: 5px;
    border: 1px solid #eee;
}

ul {
    list-style: none;
    padding-left: 0px;
}

ul li {
    display: inline-block;
    margin-right: 25px;
}

ul li label {
    margin-right: 10px;
}

dt {
    margin-top: 8px;
}

dd {
    margin-left: 0px;
    margin-top: 5px;
}